<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Jermaine Aguilar | Technical Support, Jira Admin | recruit@ryushinobi.net</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="https://yui-s.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/css/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Aguilar, Jermaine C.</h1>
					<h2>Technical Support, Jira Admin, Programmer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<!--<h3><a id="pdf" href="#">Download PDF</a></h3> -->
						<h3><a href="mailto:recruit@ryushinobi.net">recruit@ryushinobi.net</a></h3>
						<h3>(+63) 917-552-XXXX</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Dedicated IT professional with history of meeting company goals utilizing consistent and organized practices. Skilled in working under pressure and adapting to new situations and challenges to best enhance the organizational board. To seek and maintain full-time position that offers professional challenges utilizing interpersonal skills, excellent time management and problem-solving skills.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web/App Development</h2>
									<p>Has experiences developing websites/applications that cater the company's needs</p>
								</div>

								<div class="talent">
									<h2>Technical Support</h2>
									<p>Able to maintain, manage and repair multiple systems for different architectures</p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>.Net C#</li>
								<li>Angular</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>TSQL/PLSQL</li>
								<li>Azure</li>
								<li class="last">GIT / Subversion</li>
							</ul>

							<ul class="talent">
								<li>UiPath</li>
								<li>Windows Server/ Linux</li>
								<li class="last">Atlassian Jira</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Willis Towers Watson</h2>
								<h3>Senior Technical Support / Jira Administrator</h3>
								<h4>2016-Present</h4>
								<p>Worked with software development team on reported errors and bugs on newly released software and assisted in deployment of release fixes. Patched software and installed new versions to eliminate security problems and protect data.Participated in continuous improvement by generating suggestions, engaging in problem-solving activities to support teamwork.</p>
							</div>

							<div class="job">
								<h2>Transworld Systems Inc.</h2>
								<h3>Programmer Analyst</h3>
								<h4>2012-2015</h4>
								<p>Directed software design and development to meet client needs for functionality and performance.Identified causes of issues within applications and determined which modifications needed to be made. Provided technical support using knowledge of complex technology to solve problems and support new projects.</p>
							</div>

							<div class="job last">
								<h2>Philippine National Bank</h2>
								<h3>Programmer Analyst</h3>
								<h4>2009-2012</h4>
								<p>Identified causes of issues within applications and determined which modifications needed to be made. Authored code fixes and enhancements for inclusion in future code releases and patches.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Rizal Technological University - Mandaluyong, Philippines</h2>
							<h3>BSc in Computer Engineering (Batch 2009)</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Jermaine Aguilar &mdash; <a href="mailto:recruit@ryushinobi.net">recruit@ryushinobi.net</a> &mdash; (+63) 917-552-XXXX</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>
